/*------------------------------------------------------------------------------
    TOP NAVBAR
------------------------------------------------------------------------------*/

.navbar {
    border-radius: 0px;
}


.top-navbar .navbar-brand strong {
    font-size: 16px;
    font-weight: bold;
    display: block;
    color: white;
    font-weight: normal !important;
}

.navbar-brand b {
    color: #b25792;
    font-weight: normal !important;
}



.top-navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 300;
    border: none;
    height: 42px;
    min-height: 42px;
    padding-left: 16%;
    padding-right: 18%;
    padding-top: 0px;
    padding-bottom: 0px;

}

.top-navbar .navbar-brand {
    margin: 0px;
    width: 100%;
    height: 42px;
    text-align: left;
    padding: 14px 0px 12px 0px;
    font-weight: 600;
    color: #1a2026;
    background: transparent;
}

.navbar-header {
    width: 30%;
}

.navbar-brand .material-icons {
    float: left;
    font-size: 28px;
    margin-right: 5px;
    line-height: inherit;
    height: auto;

}

.nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;

}

.nav-link {
    height: 100% !important;
    padding: 16px 15px 5px 15px !important;
}


.nav i,
.nav i.material-icons {
    height: 20px;
    font-size: 15px;
    margin-right: 5px;
}

.top-navbar .navbar-right {
    width: auto;
    height: 42px;
    margin: 0px;
    line-height: 1;
    padding: 0px;
    color: #1a2026;
    float: right !important;
}

.top-navbar .navbar-right>a {
    padding: 0px;
    font-size: 15px;
}

.top-navbar .navbar-right>a>i {
    margin-right: 5px;
    font-size: 16px;
    height: 42px;
}

nav ul b {
    font-size: 14px;
    font-weight: bold;
}

.dropdown-content {
    min-width: 138px;
    right: -50px !important;
    top: 42px !important;

}

.dropdown-content li>a {
    font-size: 14px;
    text-decoration: none;
}

.dropdown-content li>a>i {
    margin-right: 12px;
    font-size: 18px;
}


.dropdown-content li>fa {
    font-size: 16px;

}


.sidenav-trigger {
    height: 40px !important;


}

nav a.sidenav-trigger {
    line-height: 1;
    display: block;
    padding: 0px !important;
    margin: 0px !important;
    position: fixed;
    top: 10px;
    right: 10px;
}


nav a.sidenav-trigger i {
    height: 40px;
    line-height: 1;
}

.sidenav-trigger i {
    font-weight: bold;

}


#trigger {
   position: fixed
   height:24px;
   font-size: 24px;
   padding: 0px;
}

.sidenav li > a > i {
    margin: 0px !important;
}

/* Hovers and Focuses --------------------------------------------------------*/

.navbar-right>a:hover,
.navbar-right>a:focus {
    text-decoration: none;
    outline: 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    outline: 0px;
}



nav ul li:hover,
nav ul li:active {
    background: #3e3e3e;
}

.sidenav li:hover {
    background: #3e3e3e;
}


.dropdown-content li>a:hover {
    color: white;
    background-color: #3e3e3e;
}


/*------------------------------------------------------------------------------
    Colors
------------------------------------------------------------------------------*/

.top-navbar {
    background-color: #292929;
    box-shadow: none;
    border: none;
}

.navbar-brand .material-icons {
    color: #1a2026;
}

nav ul a {
    color: white;
}

nav ul a:hover {
    background-color: #fff;
    color: #919932;
}



.dropdown-content li>a {
    color: white;
    background-color: #292929;
}

.dropdown-content li>fa {
    color: #1a2026;
}


.navbar-right>a:hover,
.navbar-right>a:focus {
    background: transparent;
    color: #e5ebef;
}

.navbar-default .navbar-brand:hover .navbar-default .navbar-brand:focus {
    color: #e5ebef;
}

nav ul a:hover {
    color: #314a60;
}

.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a:active {
    background-color: transparent;
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #e5ebef;
}

.sidenav {
    background: #532866;
}

.sidenav li>a {
    color: white
}

.sidenav li>a>i {
    color: white;
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


@media(max-width:1700px) {
    .top-navbar {
        padding-left: 5%;
        padding-right: 6%;
    }

    .navbar-header {
        width: 35%;
    }

}

@media(min-width:1279px) {

    .sidenav-trigger {
        display: none !important;
    }
}


@media(max-width:1279px) {
    .top-navbar {
        padding-left: 9%;
        padding-right: 8%;
    }

    .top-navbar {
        padding-left: 2%;
        padding-right: 2%;
    }

    .top-navbar .navbar-brand {
        width: 280px;
    }

    .dropdown-content {
        margin-top: -10px;
    }

    .nav-link {
        display: none !important;
    }

    .navbar-header {
        width: 50%;
    }
    nav a.sidenav-trigger {
        line-height: 1;
        display: block;
    }

    nav a.sidenav-trigger i {
        height: 42px;
        line-height: 1;

    }

    #trigger {
        position: relative;
        top: -10px;
        margin: 10px 0px 10px 0px;
    }

}

@media(max-width:760px) {}

@media(max-width:520px) {

    .top-navbar {
        padding-left: 2%;
        padding-right: 2%;
    }

    .navbar-header {
        width: 70%;
    }


    .top-navbar .navbar-brand {
        height: 42px;
        width: 100%;
    }

    .navbar-brand i.large.material-icons {

    }

    .top-navbar .navbar-right {
        position: relative;
        top: -42px;
        left: 30px;
    }



}
